html
    head
        <link rel="stylesheet" href="/styles.css">
        title='User confirmation Page'
    body
        table
            tr
                th User Id:
                th Name:
                th Email:
                th Age:
            tr
                div.userinfo
                    td= userid
                    td= name
                    td=email
                    td=age

                        div.buttons
                            <input type="submit" contenteditable="true" value="Edit">
                            <input type='submit', value='Delete', onClick='deleteThis(#{users})'>


                                button(href='/title')
                                    a(href='/title') Add another user

