html
    head
        <link rel="stylesheet" href="/styles.css">
        title='User confirmation Page'
    body
        table
            tr
                th User Id:
                th Name:
                th Email:
                th Age:
                th Edit User Info
                th Delete User
                th Add New User
            tr
            each user in users
                    td= user.userid
                    td= user.name
                    td= user.email
                    td= user.age

                    td
                        <input type="submit" value="Edit">
                    td
                        <input type='submit', value='Delete'>

                    td
                        button.addUser
                            a(href='/index.html') Add user

